:root {
    --bs-dark-blue: #2c3e50;
    --bs-sz-teal: #1abc9c;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
nav {
    background-color: var(--bs-dark-blue);
    text-transform: uppercase;
    font-weight: bold;
}

div.sz-nav-collapse {
    flex-grow: 0;
    padding-right: 25px;
}

a.sz-nav-link {
    font-size: 0.8em;
}

/* SEZIONE HERO */
section#sz-hero {
    background-color: var(--bs-sz-teal);
    color: #fff;
    text-transform: uppercase;
}

img#sz-avatar {
    max-width: 35%;
}

section#sz-hero h1 {
    padding: 15px 0;
    white-space: nowrap;
}

div.sz-star {
    padding-bottom: 15px;
}

.fa-star {
    font-size: 1.5em;
}

div.sz-line-divisor {
    height: 3px;
    background-color: #fff;
    width: 7rem;
    margin: 0 15px;
}

div.sz-skills {
    padding-bottom: 20px;
}

div.sz-skills span {
    white-space: nowrap;
}

/* SEZIONE PORTFOLIO */
section#sz-portfolio {
    height: 350px;
}

/* SEZIONE ABOUT */
section#sz-about {
    height: 170px;
    background-color: var(--bs-sz-teal);
}

/* SEZIONE CONTACT ME */
section#sz-contact {
    height: 300px;
}

/* FOOTER */
footer {
    height: 150px;
    background-color: var(--bs-dark-blue);
}