:root {
    --bs-sz-dark-blue: #2c3e50;
    --bs-sz-teal: #1abc9c;
    --bs-sz-footer-blue: #3a546d;
}

html {
    scroll-behavior: smooth;
}

/* UTILITY */
.sz-bg-teal {
    background-color: var(--bs-sz-teal);
}

.sz-bg-dark {
    background-color: var(--bs-sz-dark-blue);
}

.sz-bg-blue-footer {
    background-color: #3a546d;
}

.sz-highlight {
    color: #1abc9c;
}

.sz-text-small {
    font-size: 0.9em;
}

/* HEADER */

a.sz-nav-link {
    font-size: 0.8em;
}

/* SEZIONE HERO */
section#sz-hero h1,
div.sz-skills span {
    white-space: nowrap;
}

/* DIVISORE CON STELLA AL CENTRO */
div.sz-line-divisor {
    height: 3px;
    width: 7rem;
}

/* SEZIONE PORTFOLIO */
section#sz-portfolio h2,
section#sz-contact h2,
section#sz-portfolio .fa-star,
section#sz-contact .fa-star {
    color: #2c3e50;
}

/* SEZIONE CONTACT ME */
section#sz-contact button.sz-bg-teal:hover {
    color: #fff;
    background-color: #14967c;
    border-color: #14967c;
}